[Desktop Entry]
Type=Application
Name=MorseCQ
GenericName=Offline Morse code trainer
GenericName[zh_CN]=离线莫尔斯电码学习
Comment=Learn and practice Morse code offline
Comment[zh_CN]=离线学习与练习莫尔斯电码
Exec=morsecq
Icon=morsecq
Categories=Education;HamRadio;
Keywords=morse;cw;ham;radio;learning;
Terminal=false
StartupWMClass=icu.agentx.morsecq
